html,
body {
  margin: 0;
}

body {
  font-family: "Source Code Pro";
  background-color: #faedcd;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 1000px;
  height: 800px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  font-weight: 500;

  text-align: justify;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
}

select {
  width: 35%;
  height: 2rem;

  position: relative;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);

  border: 1px solid black;
  border-radius: 10px;
  background: none;

  text-align: center;
  font-family: "Source Code Pro";
  font-weight: 500;
}

select:focus {
  outline: none;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 0.5rem;
}

a,
a:visited,
a:active {
  text-decoration: none;
  color: #57514d;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}
